.info-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    width: 30rem;
    padding: 1rem;
    border: solid black 0.02rem;
    margin: 3rem auto;
}
.info-wrapper h1{
    align-self: center;
}
.img-wrapper{
    background-color: rgba(255, 255, 255, 0.55);

    overflow: hidden;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-wrapper h3 {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.64);
    text-align: center;
}
.img-wrapper img {
    width: 7rem;
    align-self: center;
}
.info{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.55) 30%, #b24085 120%);
    margin: 0.3rem 0;
    padding: 0.1rem 1rem;
}
.info p {
    padding: 0.2rem 0 0;
    align-self: center;
    font-weight: bold;
    font-size: larger;
    border-bottom: black solid 0.1rem;
}
.info div {
    padding: 0.2rem;
    align-self: center;
    font-weight: bold;
}
