.info-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 97, 109, 0.55);
    width: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    border: solid black 0.02rem;
    margin: 3rem auto;
}
.info-wrapper h1{

    align-self: center;
}
.img-wrapper{
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 0.4rem;
    border: black solid 0.01rem;
    overflow: hidden;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-wrapper h3 {
    color: #d9d9d9;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
}
.img-wrapper img {
    width: 7rem;
    /*background-color: blue;*/
    align-self: center;
}
.info{
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000 0%, rgba(255, 255, 255, 0.55) 0%, #a1a1a1 100%);
    margin: 0.3rem 0;
    padding: 0.1rem 1rem;
    border-radius: 40px 40px 40px 40px;
}
.info p {
    /*background-color: rebeccapurple;*/
    padding: 0.2rem 0 0;
    align-self: center;
    font-weight: bold;
    font-size: larger;
    border-bottom: black solid 0.1rem;
}
.info div {
    /*background-color: #895f5f;*/
    padding: 0.2rem;
    align-self: center;
    font-weight: bold;
}
